@media (max-width: 992px) {
  /* ********** */
  /* LAYOUT */
  /* ********** */
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  /* ***************** */
  /* NAVIGATION BAR */
  /* ***************** */
  .navbar-nav {
    display: none;
  }
  .heading-primary span {
    display: none;
  }
  /* ********** */
  /* LAYOUT */
  /* ********** */
  .grid-4-cols {
    grid-template-columns: 1fr;
  }
}
